.address {
  font-family: "Maza", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #343A3F;

  @include desktop {
    display: flex;
    gap: 12px;
  }

  &--size {
    font-size: 16px;
  }
}

.address__link {
  color: #343A3F;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
  }

  &--phone {
    &::before {
      background: url("../../icons/phone.svg") no-repeat center;
    }
  }

  &--map {
    gap: 4px;

    &::before {
      background: url("../../icons/map.svg") no-repeat center;
    }
  }
}

.address__text {
  font-style: normal;
  margin: 0;

  @include desktop {
    margin: 0 0 0 345px;
  }

  &--watch {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../../icons/watch.svg") no-repeat center;
    }
  }
}
