.anchors {}

.anchors__link {
  color: #343A3F;
  display: block;
  font-family: "Maza", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  &::after {
    content: "";
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
    margin: 11px 0 0;
    display: block;

    @include desktop {
      display: none;
    }
  }
}
