.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border: none;
  border-radius: 8px;
  font-family: "Maza", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #4888ff;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    mask-image: url("../../icons/plus.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #4888ff;

    @include desktop {
      width: 16px;
      height: 16px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #4888ff;
    color: #ffffff;

    &::before {
      background-color: #ffffff;
    }
  }
}
