@use "../common/variables.scss";

.language {
  display: flex;
  align-items: center;
  gap: 9px;
  position: relative;
  width: fit-content;
  height: 18px;

  @include desktop {
    height: 24px;
  }

  &::before {
    content: "";
    display: block;
    background: url("../../icons/language.svg") no-repeat center;
    width: 16px;
    height: 16px;
    position: absolute;
    right: calc(100% + 6px);

    @include desktop {
      width: 24px;
      height: 24px;
    }
  }

  &::after {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #343a3f;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.language__button {
  font-family: "Maza", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #343a3f;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;

  @include desktop {
    font-size: 16px;
  }

  &--active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.4;
  }
}
