.menu__container {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px 0;
}

.menu__address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu__socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu__navigation {
  grid-column: 1 / 3;
}

.menu__anchors {
  flex-direction: column;
  grid-column: 1 / 3;
  gap: 20px;
  margin: 17px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.menu__custom {
  padding: 12px 0;
  width: 100%;
  gap: 10px;
  grid-column: 1 / 3;
}
