.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include desktop {
    display: flex;
    justify-content: space-between;
    gap: 18.51px;
  }
}

.navigation__item {
  @include desktop {
    flex-grow: 1;
  }
}

.navigation__item:not(:last-child) {
  margin: 0 0 10px;

  @include desktop {
    margin: 0;
  }
}

.navigation__button {
  background: #f4f4f4;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-family: "Maza", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 6px 12px 12px;
  display: flex;
  align-items: center;
  color: #343a3f;
  gap: 17px;
  cursor: pointer;
  min-height: 48px;

  @include desktop {
    padding: 11px 14px;
    gap: 10px;
    min-height: unset;
    justify-content: center;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #4888ff;
    mask-repeat: no-repeat;
    mask-position: center;

    @include desktop {
      width: 20px;
      height: 20px;
      background-color: rgba(72, 136, 255, 0.5);
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: #4888ff;

    &::before {
      @include desktop {
        background-color: #4888ff;
      }
    }
  }


  &[data-next] {

    // position: relative;
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../../icons/arrow.svg") no-repeat center;
      margin: 0 0 0 auto;
      order: 2;
      // position: absolute;
      // right: 6px;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }

  &[data-count] {
    gap: 8px;

    &::before {
      background: none;
      width: unset;
      height: unset;
      order: 1;

      content: attr(data-count);
      font-family: "Maza", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: rgba(52, 58, 63, 0.5);
    }
  }

  &--catalog {
    &::before {
      mask-image: url("../../icons/menu/catalog.svg");
      background-color: #4888ff;
    }
  }

  &--hot {
    &::before {
      mask-image: url("../../icons/menu/hot.svg");
    }
  }

  &--gifts {
    &::before {
      mask-image: url("../../icons/menu/gifts.svg");
    }
  }

  &--events {
    &::before {
      mask-image: url("../../icons/menu/events.svg");
    }
  }

  &--brands {
    &::before {
      mask-image: url("../../icons/menu/brands.svg");
    }
  }

  &--smartphones {
    &::before {
      mask-image: url("../../icons/smartphone.svg");
    }
  }

  &--laptops {
    &::before {
      mask-image: url("../../icons/menu/laptops.svg");
    }
  }

  &--desktops {
    &::before {
      mask-image: url("../../icons/menu/desktops.svg");
    }
  }

  &--audio {
    &::before {
      mask-image: url("../../icons/menu/audio.svg");
    }
  }

  &--promotion {
    &::before {
      mask-image: url("../../icons/menu/promotion.svg");
    }
  }

  &--new {
    &::before {
      mask-image: url("../../icons/menu/new.svg");
    }
  }

  &--back {
    background: none;
    padding-left: 0;
    gap: 29px;
    font-size: 20px;

    &::before {
      background-image: url("../../icons/back-arrow.svg");
      background-color: unset;
    }

    &::after {
      display: none;
    }
  }
}
